body {
  width: auto;
  height: auto;
  background-image: url("indexbg.jpg");
  background-size: cover;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Poppins SemiBold';
  margin-top: 3rem;
}

.h1 {
  font-size: 4rem;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Poppins SemiBold';
  color: #454545;
}

.blue {
  color: #0621f8;
}

.text_block {
  text-align: center;
  display: inline-block;
  width: 60rem;
}

nav {
  text-align: center;
  margin-top: 2.9rem;
}

nav a {
  font-family: 'Poppins SemiBold';
  font-weight: 100;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 5px 15px 5px;
  color: #313131;
  text-transform: uppercase;
  font-size: 1rem;
}

nav a:hover {
  color: #0621f8;
  border-bottom: 2px solid #0621f8;
}

.button {
  font-family: 'Poppins SemiBold';
  background-color: #0621f8;
  text-decoration: none;
  border: none;
  color: white;
  padding: 17px;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2rem;
}

.container {
  margin: auto;
  display: block;
  text-align: center;
}

.zoom {
  display: block;
  transition: transform .2s;
  width: 100px;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  font-family: 'Poppins SemiBold';
}

footer a {
  margin: 0.5rem;
  color: black;
}

footer p {
  font-size: 1rem;
  font-family: 'Poppins SemiBold';
  text-align: center;
  color: black;
}

.block {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(1, 1, 1, 0.2) 0px 10px 32px 0px;
  border-radius: 25px;
  width: 80vw;
  height: 26vw;
  display: inline-block;
  margin-top: 4rem;
}

@media screen and (max-width: 414px) {
  .h1 {
    font-size: 3rem;
    width: 90vw;
  }
  nav a {
    margin: 0 2vw;
    font-size: 5vw;
  }
  h3 {
    font-size: 1.2rem;
  }
  .text_block {
    width: 88vw;
  }
  footer {
    font-size: 3vw;
  }
  .logo {
    opacity: 0;
    z-index: -1;
  }
}

.logo {
  width: 120px;
  left: 0;
  top: 0;
  position: absolute;
}

.logo:hover {
  cursor: pointer;
}
