body {
  width: auto;
  height: auto;
  background-image: url("contactbg.jpg");
  background-size: cover;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Poppins SemiBold';
  margin-top: 3rem;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
  font-family: 'Poppins SemiBold';
  margin-top: -2.25rem;
  color: #454545;
}

label {
  font-size: 2rem;
  font-family: 'Poppins SemiBold';
}

form input {
  text-align: center;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(1, 1, 1, 0.1) 0px 10px 32px 0px;
  font-size: 1rem;
  width: 15.625rem;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 18px;
}

nav {
  text-align: center;
  margin-top: 2rem;
}

nav a {
  font-family: 'Poppins SemiBold';
  font-weight: 100;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 5px 15px 5px;
  color: #313131;
  text-transform: uppercase;
  font-size: 1rem;
}

nav a:hover {
  color: #0621f8;
  border-bottom: 2px solid #0621f8;
}

.button {
  font-family: 'Poppins SemiBold';
  background-color: #0621f8;
  text-decoration: none;
  border: none;
  color: white;
  padding: 17px;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2rem;
}

.container {
  margin: auto;
  display: block;
  text-align: center;
}

.zoom {
  display: block;
  transition: transform .2s;
  width: 100px;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  font-family: 'Poppins SemiBold';
  bottom: 0;
}

footer a {
  margin: 0.5rem;
  color: black;
}

footer p {
  font-size: 1rem;
  font-family: 'Poppins SemiBold';
  text-align: center;
  color: black;
}

/* !!! */

@media screen and (max-width: 414px) {
  .h1 {
    font-size: 3rem;
  }
  .h1_2 {
    font-size: 3rem;
  }
  .h1-master {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .h4-div {
    width: 88vw;
  }
  h4 {
    font-size: 6vw;
  }
  nav a {
    margin: 0 2vw;
    font-size: 5vw;
  }
  footer {
    font-size: 3vw;
  }
  .underlined {
    text-decoration: underline;
  }
}
