body {
  width: auto;
  height: auto;
  background-image: url("indexbg.png");
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Poppins SemiBold';
  margin-top: 11.5rem;
}

.h1 {
  margin-top: 7rem;
  text-align: center;
}

.h1_2 {
  margin-top: 2rem;
}

.h1-master {
  font-size: 6rem;
  color: black;
  border-radius: 25px;
  width: 80vw;
  height: 100%;
  display: inline-block;
  margin-top: 8rem;
}

.master-block {
  align-items: center;
  justify-content: center;
  text-align: center;
}

h3 {
  border-radius: 25px;
  font-size: 1.75rem;
  text-align: center;
  font-family: 'Poppins SemiBold';
  margin-top: -2.25rem;
  color: #454545;
}

h4 {
  font-size: 1.65rem;
  font-family: 'Poppins SemiBold';
  text-align: center;
}

.h4-div {
  text-align: center;
  display: inline-block;
  width: 60vw;
}

nav {
  text-align: center;
  margin-top: 2rem;
}

nav a {
  font-family: 'Poppins SemiBold';
  font-weight: 100;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 5px 15px 5px;
  color: #313131;
  text-transform: uppercase;
  font-size: 1rem;
}

nav a:hover {
  color: #0621f8;
  border-bottom: 2px solid #0621f8;
}

.button {
  font-family: 'Poppins SemiBold';
  background-color: #0621f8;
  text-decoration: none;
  border: none;
  color: white;
  padding: 17px;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
}

.container {
  margin: auto;
  display: block;
  text-align: center;
}

.zoom {
  display: block;
  transition: transform .2s;
  width: 100px;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  font-family: 'Poppins SemiBold';
}

footer a {
  margin: 0.5rem;
  color: black;
}

footer p {
  font-size: 1rem;
  font-family: 'Poppins SemiBold';
  text-align: center;
  color: black;
}

.underlined {
  text-decoration: underline #0621f8;
}

.block {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 10px 32px 0px;
  border-radius: 25px;
  width: 80vw;
  height: 26vw;
  display: inline-block;
}

.block:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 15px 37px 0px;
}

/* !!! */

@media screen and (max-width: 414px) {
  .h1 {
    font-size: 3rem;
  }
  .h1_2 {
    font-size: 2rem;
  }
  .h1-master {
    font-size: 3.2rem;
    text-align: center;
  }
  h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .h4-div {
    width: 80vw;
  }
  h4 {
    font-size: 4vw;
    text-align: center;
  }
  nav a {
    margin: 0 2vw;
    font-size: 5vw;
  }
  nav {
    margin-bottom: -6rem;
  }
  footer {
    font-size: 3vw;
  }
  .underlined {
    text-decoration: underline;
  }
  .block {
    height: 110vw;
    width: 90vw;
  }
}
