body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-image: url("profilebg.jpg");
  background-size: cover;
}

nav {
  text-align: center;
  margin-top: 2.4rem;
}

nav a {
  font-family: 'Poppins SemiBold';
  font-weight: 100;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 5px 15px 5px;
  color: #313131;
  text-transform: uppercase;
  font-size: 1rem;
}

nav a:hover {
  color: #0621f8;
  border-bottom: 2px solid #0621f8;
}

form {
  box-shadow: #dedede 0px 3px 20px 0px;
  border-radius: 1.5rem;
  margin-top: 1rem;
  padding: 0.375rem 0.625rem;
}

form input {
  font-size: 1rem;
  width: 15.625rem;
  height: 2.5rem;
  border: none;
  outline: none;
}

form button {
  width: 50px;
  height: 40px;
  border: none;
  background: #0621f8;
  cursor: pointer;
  border-radius: 1rem;
}

h1 {
  font-size: 64px;
  text-align: center;
  font-family: 'Poppins SemiBold';
  margin-top: 60px;
}

h3 {
  font-size: 28px;
  text-align: center;
  font-family: 'Poppins SemiBold';
  margin-top: -36px;
  color: #454545;
}

a {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

p {
  font-size: 20px;
  font-family: 'Poppins SemiBold';
  color: #0621f8;
}

.wrapper li {
  padding: 0 26px;
}

.wrapper ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.blue {
  color: #0621f8;
}

.list {
  margin-top: 50px;
}

.container {
  margin: auto;
  display: block;
  text-align: center;
}

.zoom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
  width: 20px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05);
}

.button {
  font-family: 'Poppins SemiBold';
  background-color: #0621f8;
  text-decoration: none;
  border: none;
  color: white;
  padding: 17px;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.profile {
  margin-top: auto;
  margin-left: auto;
  width: 1000px;
  height: 500px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(1, 1, 1, 0.1) 0px 10px 32px 0px;
  border-radius: 1.5rem;
  padding: 0.375rem 0.625rem;
  text-align: center;
}

.profile a {
  display: block;
  color: black;
  font-size: 40px;
  font-family: 'Poppins SemiBold';
  height: 80px;
  line-height: 80px;
  padding: 0 5px;
  margin: 20px 0;
}

footer {
  text-align: center;
  font-family: 'Poppins SemiBold';
}

footer a {
  margin: 0.5rem;
  color: black;
}

footer p {
  font-size: 1rem;
  font-family: 'Poppins SemiBold';
  text-align: center;
  color: black;
}

/* !!! */

@media screen and (max-width: 414px) {
  .h1 {
    font-size: 3rem;
  }
  .h1_2 {
    font-size: 3rem;
  }
  .h1-master {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .h4-div {
    width: 88vw;
  }
  h4 {
    font-size: 6vw;
  }
  nav a {
    margin: 0 2vw;
    font-size: 5vw;
  }
  footer {
    font-size: 3vw;
  }
  .underlined {
    text-decoration: underline;
  }
  .profile {
    width: 90vw;
  }
  .logo {
    opacity: 0;
    z-index: -1;
  }
}

.logo {
  width: 120px;
  left: 0;
  top: 0;
  position: absolute;
}

.logo:hover {
  cursor: pointer;
}
