.container {
  display: block;
  text-align: center;
}

.blue {
  color: #0621f8;
}

h1 {
  font-size: 64px;
  font-family: 'Poppins SemiBold';
  left: 0;
  position: absolute;
  text-align:center;
  top: 17vw;
  width: 100%;
}

a {
  font-family: 'Poppins SemiBold';
  margin: 20px;
}

button {
  font-family: 'Poppins SemiBold';
  box-shadow: #dedede 0px 3px 20px 0px;
  background: white;
  text-decoration: none;
  border: none;
  color: black;
  padding: 17px;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  margin-bottom: 3rem;
}

nav {
  text-align: center;
  margin-top: 2rem;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

nav a {
  font-family: 'Poppins SemiBold';
  font-weight: 100;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 5px 15px 5px;
  color: #313131;
  text-transform: uppercase;
  font-size: 1rem;
}

nav a:hover {
  color: #0621f8;
  border-bottom: 2px solid #0621f8;
}

.button {
  font-family: 'Poppins SemiBold';
  background-color: #0621f8;
  text-decoration: none;
  border: none;
  color: white;
  padding: 17px;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2rem;
}

.container {
  margin: auto;
  display: block;
  text-align: center;
}

.zoom {
  display: block;
  transition: transform .2s;
  width: 100px;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.05);
}

.modal {
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: white;
  border-radius: 0.313rem;
  box-shadow: 0 0.063rem 0.25rem black;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 23.75rem;
}

.modal-inner h2 {
  margin: 0;
}

.modal-inner p {
  line-height: 1.5rem;
  margin: 0;
}

/* !!! */

@media screen and (max-width: 414px) {
  .h1 {
    font-size: 3rem;
  }
  .h1_2 {
    font-size: 3rem;
  }
  .h1-master {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .h4-div {
    width: 88vw;
  }
  h4 {
    font-size: 6vw;
  }
  nav a {
    margin: 0 2vw;
    font-size: 5vw;
  }
  footer {
    font-size: 3vw;
  }
  .underlined {
    text-decoration: underline;
  }
  button {
    margin: 2vw;
    font-size: 4vw;
  }
}
