body {
  text-align: center;
  background: url("indexbg.jpg");
  background-size: cover;
}

.container {
  display: block;
  text-align: center;
}

.blue {
  color: #0621f8;
}

h1 {
  font-size: 7rem;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 17.5vw;
  left: 83.5%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,.5);
  padding: 0 30px;
  border-radius: 20px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

a {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  font-size: 1.3rem;
}

nav {
  text-align: center;
  margin-top: 2rem;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.behind {
  z-index: -5;
}

nav a {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 5px 15px 5px;
  color: #313131;
  text-transform: uppercase;
  font-size: 1rem;
}

nav a:hover {
  color: #0621f8;
  border-bottom: 2px solid #0621f8;
}

.button {
  font-family: 'Poppins', sans-serif;
  background-color: #0621f8;
  text-decoration: none;
  border: none;
  color: white;
  padding: 17px;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2rem;
}

.container {
  margin: auto;
  display: block;
  text-align: center;
}

.zoom {
  display: block;
  transition: transform .2s;
  width: 100px;
  margin: auto;
}

.zoom:hover {
  transform: scale(1.05);
}

.modal {
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: white;
  border-radius: 0.313rem;
  box-shadow: 0 0.063rem 0.25rem black;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 23.75rem;
}

.modal-inner h2 {
  margin: 0;
}

.modal-inner p {
  line-height: 1.5rem;
  margin: 0;
}

/* !!! */

@media screen and (max-width: 414px) {
  .h1 {
    font-size: 3rem;
  }
  .h1_2 {
    font-size: 3rem;
  }
  .h1-master {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .h4-div {
    width: 88vw;
  }
  h4 {
    font-size: 6vw;
  }
  nav a {
    margin: 0 2vw;
    font-size: 5vw;
  }
  footer {
    font-size: 3vw;
  }
  .underlined {
    text-decoration: underline;
  }
  button {
    margin: 2vw;
    font-size: 4vw;
  }
}

.back-button {
  width: 80px;
  left: 0;
  top: 0;
  margin-top: 3rem;
  margin-left: 3rem;
  position: absolute;
}

.back-button:hover {
  cursor: pointer;
}

.button-block {
  margin-top: 7rem;
  z-index: 1;
}

.button-block-button-0 {
  width: 6rem;
  height: 6rem;
  box-shadow: rgba(1, 1, 1, 0.4) 0px 10px 32px 0px;
  border-radius: 25px;
  display: block;
  margin: 1rem;
  font-size: 3rem;
  z-index: 1;
  text-decoration: none;
  border: none;
  font-family: "Poppins SemiBold";
  background: url("droplet1.png");
  background-size: cover;
}

.button-block-button-1 {
  width: 6rem;
  height: 6rem;
  box-shadow: rgba(1, 1, 1, 0.4) 0px 10px 32px 0px;
  border-radius: 25px;
  display: block;
  margin: 1rem;
  font-size: 3rem;
  z-index: 1;
  text-decoration: none;
  border: none;
  font-family: "Poppins SemiBold";
  background: url("pour1.png");
  background-size: cover;
}

.button-block-button-2 {
  width: 6rem;
  height: 6rem;
  box-shadow: rgba(1, 1, 1, 0.4) 0px 10px 32px 0px;
  border-radius: 25px;
  display: block;
  margin: 1rem;
  font-size: 3rem;
  z-index: 1;
  text-decoration: none;
  border: none;
  font-family: "Poppins SemiBold";
  background: url("pour_wide1.png");
  background-size: cover;
}

.button-block-button-3 {
  width: 6rem;
  height: 6rem;
  box-shadow: rgba(1, 1, 1, 0.4) 0px 10px 32px 0px;
  border-radius: 25px;
  display: block;
  margin: 1rem;
  font-size: 3rem;
  z-index: 1;
  text-decoration: none;
  border: none;
  font-family: "Poppins SemiBold";
  background: url("rain1.png");
  background-size: cover;
}

.button-block-button-0:hover {
  cursor: pointer;
}

.button-block-button-1:hover {
  cursor: pointer;
}

.button-block-button-2:hover {
  cursor: pointer;
}

.button-block-button-3:hover {
  cursor: pointer;
}

.tier {
  margin-top: 3.8rem;
  font-size: 0.8rem;
}

.circle{
  z-index: -1;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:500px;
  height:500px;
  background: rgba(255, 255, 255, 0.3);
  border:5px solid #000000;
  box-shadow: rgba(1, 1, 1, 0.4) 0px 10px 32px 0px;
  border-radius: 50%;
  overflow: hidden;
  transition: width 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.wave{
  position:relative;
  width:100%;
  height:100%;
  /*background: #0621f8;*/
  border-radius:50%;
  box-shadow:inset 0 0 50px rgba(0,0,0,.5);
}
.wave:before,.wave:after{
  content:'';
  position:absolute;
  width:200%;
  height:200%;
  top:0;
  left:50%;
  transform:translate(-50%,-75%);
  background:#000;
}
.wave:before{
  border-radius:45%;
  background: white;
  animation:animate 5s linear infinite;
}
.wave:after{
  border-radius: 35%;
  background: rgba(255,255,255,.5);
  animation: animate 10s linear infinite;
}
@keyframes animate{
  0%{
     transform:translate(-50%,-75%) rotate(0deg);
  }
  100%{
     transform:translate(-50%,-75%) rotate(360deg);
  }
}

.droplet {
  width: 40px;
  height: 40px;
  /*background-color: #0621f8;*/
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 0;
  left: 49%;
  animation: fallAndFade 0.7s linear forwards;
}

@keyframes fallAndFade {
  0% {
    transform: translateY(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(70vh) rotate(-45deg);
    opacity: 0;
  }
}

.water_pour {
  position: absolute;
  width: 1rem;
  top: 0;
  /*background-color: #0621f8;*/
  animation: pourAndHoldAndDisappear 1.5s linear;
  left: 49.6%;
}

.water_pour_wide {
  position: absolute;
  width: 4rem;
  top: 0;
  /*background-color: #0621f8;*/
  animation: pourAndHoldAndDisappear 1.5s linear;
  left: 48.2%;
}

@keyframes pourAndHoldAndDisappear {
  0% {
    height: 0;
    opacity: 0;
  }
  40%, 80%{
    height: 65vh;
    opacity: 1;
  }
  100% {
    height: 65vh;
    opacity: 0;
  }
}

.raindrop {
  position: absolute;
  /*background-color: rgba(6, 33, 248, 0.8);*/
  width: 4px;
  height: 14px;
}

input[type='color'] {
  width: 28px;
  height: 28px;
}