body {
    text-align: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background: url('contactbg.jpg');
    background-size: cover;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.orange {
    color: rgb(255, 115, 0);
}

.blue {
    color: rgb(0, 68, 255);
}

nav {
    text-align: center;
    margin-top: 2.9rem;
    text-transform: uppercase;
}

nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
    margin: 0 30px;
    padding: 10px 5px 15px 5px;
    color: #313131;
    font-size: 1rem;
}

nav a:hover {
    color: #0621f8;
    border-bottom: 2px solid #0621f8;
}

.container {
    margin: auto;
    display: block;
    text-align: center;
}

.logo {
    width: 120px;
    left: 0;
    top: 0;
    position: absolute;
}
  
.logo:hover {
    cursor: pointer;
}

a {
    font-size: 16px;
    font-weight: 700;
    color: white;
  }

.before_graph {
    margin-bottom: 6rem;
}

.chart-container {
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Optional: Set a maximum width */
    margin: 0 auto;
    padding-right: 1rem; /* Add this line to move the graph 2rem to the left */
}


#myChart {
    width: 100%;
    height: auto;
}